html { font-family: sans-serif; background: #f8f8f8; padding: 1rem; }
body { max-width: 1400px; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #004494; margin: 1rem 0; }
h2 { font-family: serif; color: #004494; margin: 1rem 0; }
h3 { font-family: serif; color: #004494; margin: 1rem 0; }
a { color: #004494; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: #bfddff; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid #bfddff; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.content > header h2 { flex: auto; margin: 1rem 0 0.25rem 0; }
.content > header h3 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #004494; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

::-moz-selection {
  background: #004494;
  color: white;
}
::selection {
  background: #004494;
  color: white;
}
.scrollable-element {
  scrollbar-color: #004494 #ffed00;
}
select option:hover,
    select option:focus,
    select option:active {
        background: linear-gradient(#004494, #004494);
        background-color: #004494 !important; /* for IE */
        color: #000000 !important;
    }
    select option:checked {
        background: linear-gradient(#004494, #004494);
        background-color: #004494 !important; /* for IE */
        color: #000000 !important;
    }


.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#004494!important}
